  <div class="header">
    <div class="container">
      <div class="header-left">
        <img alt="" src="/assets/catlogo.jpg" />
      </div>
      <div class="header-right">
         <div class="menuu">
           <div class="menu_up">
            <a href="#" class="menu a">my猫</a>
            <a href="#" class="menu b">あるある</a>
            <a href="#" class="menu c">マッチング</a>
           </div>
           <div class="menu_down">
            <a href="#" class="menu d">猫知識</a>
            <a href="#" class="menu e">猫ショップ</a>
            <a href="#" class="menu f">猫マッチング</a>
           </div>
          </div>
        <div class="btn-group" role="group">
	          </br><button type="button" class="btn btn-warning">ログイン</button>
	      </div>
	      <div class="btn-group" role="group">
	     	    </br><button type="button" class="btn btn-info">新規登録</button>
        </div>
      </div>
    </div>
  </div>